[Unit]
Description=Launching WoD npm based service
After=syslog.target network.target

[Service]
Type=oneshot
User={{ WODUSER }}
ExecStart=/usr/local/bin/wod-npm-app
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
